<section id="about" class="about-us-section">
  <div class="container">
    <h2 class="section-title">About Us</h2>
    <div class="about-content">
      <div class="image-box">

        <img src="about-img2.jpg" alt="Farmer 1" class="img img1" />
        <img src="about-img1.jpg" alt="Farmer 2" class="img img2" />
      </div>
      <div class="text">
        <p>
          The Knowledge and Technology Resource Centre (KTRC) at Indira Gandhi Krishi Vishwavidyalaya, Raipur, supported by RKVY, Govt. of India, empowers students, farmers, and communities in Chhattisgarh through innovative e-governance in agriculture.
        </p>
        <p>
          KTRC features a cutting-edge Digital KISAN Studio with real-time video production and broadcasting, offering expert guidance and best practices tailored for students and farmers.
        </p>
        <p>
          More than a facility, KTRC represents a commitment to digital transformation, knowledge sharing, and continuous learning in agriculture.
        </p>
        <div class="quote-box">
          <span class="quote-mark">"</span>
          Empowering agriculture through innovation, technology, and knowledge sharing for a sustainable future.
          <span class="quote-mark">"</span>
        </div>
      </div>
    </div>
  </div>
</section>
