.progress-section {
  background-color: #fcd5db;
  padding: 60px 0;

  h2 {
    color: #1f3c88;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .description {
    font-size: 16px;
    color: #1e4174;
    margin-bottom: 30px;
  }

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .project-title {
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
  }

  .progress {
    height: 24px;
    background-color: #e9edf4;
    // border-radius: 12px;
    overflow: hidden;
    margin-bottom: 25px;

    .progress-bar {
      background-color: #1e4174;
      color: #fff;
      font-weight: bold;
      text-align: center;
      line-height: 24px;
      height: 100%;
      transition: width 0.5s ease;
    }
  }
}
