<section id="skills" class="progress-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 image-container" data-aos="fade-right" data-aos-delay="100">
        <img src="progress-img.jpg" class="img-fluid" alt="Project Illustration" />
      </div>
      <div class="col-lg-6 content" data-aos="fade-left" data-aos-delay="100">
        <h2>Project Progress Overview</h2>
        <p class="description">
          Below is a breakdown of project implementation progress. The bars reflect the work completed versus total scope, helping stakeholders to assess which initiatives are on track and which require further focus.
        </p>
        <div class="progress-wrapper" *ngFor="let a of arr">
          <div class="project-title">{{ a.Project_name }}</div>
          <div class="progress">
            <div class="progress-bar" [style.width.%]="a.percent">
              {{ a.percent }}%
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
