<div class="hero-wrapper">
  <div class="hero-container">
    <div class="image-circle">
      <img src="heroimg.jpg" alt="HR Image" />
    </div>

    <div class="text-content">
      <h2 class="main-heading">
        <span> HRVerse: Human Resource Management Information System</span><br />
      </h2>
      <p class="description">
        An integrated platform to efficiently manage projects, employees, resources, and finances across the entire HR lifecycle.
      </p>
      <div class="gradient-bar"></div>
    </div>
  </div>
</div>
