# Node
server/node_modules/
server/config/
server/.env
server/documents

# Angular
client/node_modules/
client/dist/
client/.angular/
# client/src/environments/
# client/src/assets/*

# System files
.DS_Store
*.log
