<div class="container-fluid">

  <!-- Form Card -->
  <mat-card class="form-card" *ngIf="showForm">
    <mat-card-header class="form-header">
      <div class="form-header-wrapper">
        <div class="form-header-title">
          <mat-icon class="form-header-icon">{{ iseditmode ? 'edit' : 'person_add' }}</mat-icon>
          <h3 class="form-title">{{ iseditmode ? 'Edit Employee' : 'Add Employee' }}</h3>
        </div>
        <div class="form-header-actions">
          <button 
            mat-icon-button 
            (click)="hideForm()" 
            type="button"
            title="Close Form"
            class="close-btn">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-header>
    
    <mat-card-content class="form-content">
      <form class="form" (ngSubmit)="onSubmit()">
        <fieldset class="scheduler-border">
          <legend class="scheduler-border">Employee Details</legend>
          <div [formGroup]="RegistationForm">
            <div class="row">
              <div class="col-md-3">
                <mat-form-field appearance="outline" class="inputfieldsize">
                  <mat-label>Select Salutation</mat-label>
                  <mat-select formControlName="Salutation_E">
                    <mat-option
                      *ngFor="let sal of SalutationList"
                      [value]="sal.value"
                    >
                      {{ sal.viewValue }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="Salutation_E.hasError('required')"
                    >Salutation is required</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline" class="inputfieldsize">
                  <mat-label>First Name</mat-label>
                  <input
                    matInput
                    [formControl]="Emp_First_Name_E"
                    (keyup)="onInputChange('Emp_First_Name_E')"
                  />
                  <mat-error
                    *ngIf="
                      RegistationForm.get('Emp_First_Name_E')?.hasError(
                        'required'
                      )
                    "
                  >
                    First name is required
                  </mat-error>
                  <mat-error
                    *ngIf="
                      RegistationForm.get('Emp_First_Name_E')?.hasError(
                        'pattern'
                      )
                    "
                  >
                    It should include letters only
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline" class="inputfieldsize">
                  <mat-label> Middle Name </mat-label>
                  <input
                    matInput
                    [formControl]="Emp_Middle_Name_E"
                    (keyup)="onInputChange('Emp_Middle_Name_E')"
                  />
                  <mat-error
                    *ngIf="
                      RegistationForm.get('Emp_Middle_Name_E')?.hasError(
                        'pattern'
                      )
                    "
                  >
                    It should include letters only
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline" class="inputfieldsize">
                  <mat-label> Last Name </mat-label>
                  <input
                    matInput
                    [formControl]="Emp_Last_Name_E"
                    (keyup)="onInputChange('Emp_Last_Name_E')"
                  />
                  <mat-error
                    *ngIf="
                      RegistationForm.get('Emp_Last_Name_E')?.hasError(
                        'required'
                      )
                    "
                  >
                    Last name is required
                  </mat-error>
                  <mat-error
                    *ngIf="
                      RegistationForm.get('Emp_Last_Name_E')?.hasError(
                        'pattern'
                      )
                    "
                  >
                    It should include letters only
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="inputfieldsize">
                  <mat-label> Mobile No</mat-label>
                  <input
                    matInput
                    formControlName="Mobile_No"
                    (keyup)="onInputChange('Mobile_No')"
                    autocomplete="off"
                    required
                  />
                  <mat-error *ngIf="Mobile_No.hasError('required')"
                    >Mobile number is required</mat-error
                  >
                  <mat-error *ngIf="Mobile_No.hasError('pattern')"
                    >Mobile No. must be 10 digits</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="inputfieldsize">
                  <mat-label>Email_Id</mat-label>
                  <input
                    matInput
                    formControlName="Email_Id"
                    (keyup)="onInputChange('Email_Id')"
                    autocomplete="off"
                    required
                  />
                  <mat-error *ngIf="Email_Id.hasError('required')"
                    >Email is required</mat-error
                  >
                  <mat-error *ngIf="Email_Id.hasError('email')"
                    >Enter a valid email</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="inputfieldsize">
                  <mat-label>Select Post</mat-label>
                  <mat-select matNativeControl formControlName="Post_id">
                    <mat-option value="" selected>Select Post</mat-option>
                    <mat-option
                      *ngFor="let postdata of postdata"
                      [value]="postdata.Post_id"
                    >
                      {{ postdata.Post_name }}</mat-option
                    >
                  </mat-select>
                  <mat-error *ngIf="Post_id.hasError('required')"
                    >Post is required</mat-error
                  >
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row" [formGroup]="Registationpass">
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="inputfieldsize">
                <mat-label>New password:</mat-label>
                <input
                  matInput
                  type="password"
                  class="form-control"
                  formControlName="password"
                  #pw
                />
                <mat-error *ngIf="password.hasError('required')">
                  Password is required
                </mat-error>
                <mat-error *ngIf="password.hasError('pattern')">
                  Password must be at least 6 characters
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="inputfieldsize">
                <mat-label>Confirm Password :</mat-label>
                <input
                  matInput
                  type="password"
                  class="form-control"
                  [ngClass]="confirmPasswordClass"
                  formControlName="Confirm_Password"
                  #cpw
                  (keyup)="checkPasswords(pw.value, cpw.value)"
                />
                <mat-error *ngIf="Confirm_Password.hasError('required')">
                  Confirm Password is required
                </mat-error>
                <mat-error *ngIf="Confirm_Password.hasError('pattern')">
                  Confirm Password must be at least 6 characters
                </mat-error>
                <mat-error *ngIf="!passwordsMatching && isConfirmPasswordDirty">
                  Passwords do not match
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center" style="gap: 10px;">
            <button mat-raised-button type="button" (click)="onClear()">
              Clear
            </button>
            <button mat-raised-button type="button" (click)="hideForm()">
              Cancel
            </button>
            <button
              type="submit"
              mat-raised-button color="primary"
              *ngIf="!iseditmode"
            >
              Submit
            </button>
            <button
              type="button"
              mat-raised-button color="primary"
              *ngIf="iseditmode"
            >
              Update
            </button>
          </div>
        </fieldset>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<div class="container-fluid" style="overflow: auto">
  <mat-card class="table-card">
    <mat-card-header class="table-header">
      <div class="header-wrapper">
        <div class="header-title">
          <mat-icon class="header-icon">group</mat-icon>
          <h3 class="table-title">All Employees</h3>
        </div>
        <div class="header-actions">
          <button 
            mat-raised-button 
            color="primary" 
            (click)="showAddForm()" 
            class="action-btn header-btn"
            *ngIf="!showForm">
            <mat-icon>add</mat-icon>
            Add Employee
          </button>
          <button
            mat-icon-button
            (click)="ExportTOExcel()"
            class="action-btn header-btn"
            title="Export to Excel"
          >
            <mat-icon>print</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-header>
    
    <mat-card-content class="table-content">
      <div class="search-section">
        <mat-form-field class="search-field" appearance="outline">
          <mat-label>Search Employees</mat-label>
          <input 
            matInput 
            placeholder="Search by name, ID, etc..." 
            autocomplete="off" 
            (keyup)="applyFilter($event)" />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>

      <div class="table-container">
        <table class="data-table" mat-table matSort [dataSource]="dataSource">
          <ng-container matColumnDef="Emp_Id">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Emp_Id</th>
            <td mat-cell *matCellDef="let element">{{ element.Emp_ID }}</td>
          </ng-container>
          <ng-container matColumnDef="Name">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.FullName }}</td>
          </ng-container>
          <ng-container matColumnDef="Department">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>
              Father Name
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.Father_Name_E }}
            </td>
          </ng-container>
          <ng-container matColumnDef="Mobile">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Mobile</th>
            <td mat-cell *matCellDef="let element">
              {{ element.Mobile_No }}
            </td>
          </ng-container>
          <ng-container matColumnDef="User Id">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>User Id</th>
            <td mat-cell *matCellDef="let element">{{ element.username }}</td>
          </ng-container>
          <ng-container matColumnDef="Action" stickyEnd="true">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                color="primary"
                (click)="openDialog(element.username)"
                title="Reset Password"
              >
                <mat-icon>lock_open</mat-icon>
              </button>
              <button
                mat-icon-button
                color="warn"
                (click)="ondelete(element.Emp_ID)"
                title="Delete Employee"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-header-row"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns" class="table-data-row"></tr>
        </table>
        
        <div class="table-footer">
          <mat-paginator
            class="paginator"
            [pageSize]="5"
            [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page"
            showFirstLastButtons
          >
          </mat-paginator>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
 <br /> <br />
