<section id="counts" class="counts">
  <div class="container">
    <div class="row">
      <!-- Project Counter -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="count-box">
          <i><mat-icon>devices</mat-icon></i>
          <span id="projectCounter">{{projectCountValue}}</span>
          <p>PROJECTS</p>
        </div>
      </div>

      <!-- Work Counter -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="count-box">
          <i><mat-icon>bubble_chart</mat-icon></i>
          <span id="workCounter">{{workCountValue}}</span>
          <p>WORKS</p>
        </div>
      </div>

      <!-- Employee Counter -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="count-box">
          <i><mat-icon>person</mat-icon></i>
          <span id="empCounter">{{empCountValue}}</span>
          <p>EMPLOYEES</p>
        </div>
      </div>

      <!-- Leaves Counter -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="count-box">
          <i><mat-icon>insert_invitation</mat-icon></i>
          <span id="leavesCounter">{{leavesCount}}</span>
          <p>LEAVES</p>
        </div>
      </div>
    </div>
  </div>
</section>
