<footer>
  <div class="footer-container">
    <div class="row footer-columns">
      <div class="col-md-3">
        <h5>Company</h5>
        <p>IGKV is an Educational Institute that provides education and sets the path to a bright future for students.</p>
      </div>

      <div class="col-md-2">
        <h5>Routes</h5>
        <p><span class="golink">Home</span></p>
        <p><span class="golink">About Us</span></p>
        <p><span class="golink">Contact Us</span></p>
        <p><span class="golink">Login</span></p>
      </div>

      <div class="col-md-3">
        <h5>Useful Links</h5>
        <p><a href="#">www.igkv.in</a></p>
        <p><a href="#">www.croppdoctor.in</a></p>
        <p><a href="#">www.igkv_alumni</a></p>
        <p><a href="#">www.igkv_repository</a></p>
      </div>

      <div class="col-md-4">
        <h5>Contact</h5>
        <p><i class="fa fa-instagram"></i> igkv_instapage</p>
        <p><i class="fa fa-facebook"></i> pageIGKV</p>
        <p><i class="fa fa-google-plus-square"></i> www.igkv.in</p>
        <p><i class="fa fa-phone"></i> +91 234 567 89</p>
      </div>
    </div>

    <div class="footer-bottom mt-4">
      <div>
        <strong>Disclaimer:</strong> Designed & Developed by: Daulat Sahu (Knowledge and Information Center, IGKV, Raipur) © 2023 IGKV.
        <p>Copyright © 2023 IGKV®. All rights reserved.</p>
      </div>
      <div class="footer-logo">
        <img src="IGKV_Logo_png_igmis.png" alt="IGKV Logo" />
      </div>
    </div>
  </div>
</footer>
