<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer class="footer text-white">
  <div class="container p-4">
    <div class="row">
      <!-- Company Info -->
      <div class="col-md-3 mb-4">
        <h5 class="footer-heading">Company</h5>
        <p>
          IGKV is an Educational Institute that provides education and sets the path to a bright future for students.
        </p>
      </div>

      <!-- Routes -->
      <div class="col-md-2 mb-4">
        <h5 class="footer-heading">Routes</h5>
        <p><a href="#" class="footer-link">Home</a></p>
        <p><a href="#" class="footer-link">About Us</a></p>
        <p><a href="#" class="footer-link">Contact Us</a></p>
        <p><a href="#" class="footer-link">Login</a></p>
      </div>

      <!-- Useful Links -->
      <div class="col-md-3 mb-4">
        <h5 class="footer-heading">Useful Links</h5>
        <p><a href="https://www.igkv.in" class="footer-link" target="_blank">www.igkv.in</a></p>
        <p><a href="https://www.croppdoctor.in" class="footer-link" target="_blank">www.croppdoctor.in</a></p>
        <p><a href="#" class="footer-link">www.igkv_alumni</a></p>
        <p><a href="#" class="footer-link">www.igkv_repository</a></p>
      </div>

      <!-- Contact -->
      <div class="col-md-4 mb-4">
        <h5 class="footer-heading">Contact</h5>
        <p><i class="fa fa-instagram"></i> igkv_instapage</p>
        <p><i class="fa fa-facebook"></i> pageIGKV</p>
        <p><i class="fa fa-envelope"></i> info&#64;igkv.in</p>
        <p><i class="fa fa-phone"></i> +91 234 567 89</p>
      </div>
    </div>

    <hr class="bg-light" />

    <div class="row align-items-center">
      <div class="col-md-10">
        <p class="mb-1">
          <strong>Disclaimer:</strong> Designed & Developed By: Knowledge and Information Center, Indira Gandhi Krishi Vishwavidyalaya, Raipur.
        </p>
        <p>© 2023 IGKV®. All rights reserved.</p>
      </div>
      <div class="col-md-2 text-center">
        <img src="IGKV_Logo_png_igmis.png" alt="IGKV Logo" class="img-fluid footer-logo" />
      </div>
    </div>
  </div>
</footer>
