<mat-toolbar class="navbar">
  <div class="toolbar-content">
    <a routerLink="/homepage" class="logo-link">
      <img src="IGKV_Logo_png_igmis.png" alt="logo" class="logo">

    </a>

    <span class="spacer"> ई-सृजन</span>

    <nav class="nav-links" *ngIf="!(isMobile | async)">
      <a mat-button>HOME</a>
      <a mat-button (click)="toaboutus()">ABOUT</a>
      <a mat-button (click)="service()">SERVICES</a>
      <a mat-button (click)="portfolio()">PORTFOLIO</a>
      <a mat-button (click)="contactus()">CONTACT</a>
    </nav>

    <a routerLink="/login" class="login-btn">
      <button mat-raised-button>Login</button>
    </a>
  </div>
</mat-toolbar>
