.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color:#1e4174;
  color:#fff;
}

.toolbar-content {
  display: flex;
  align-items: center;
  width: 100%;

}

.logo-link {
  display: flex;
  align-items: center;
}

.logo {
  height: 8vh;
}

.spacer {
  flex: 1 1 auto;
}


.nav-links a {
  color:#fff;
  margin: 0 10px;
  font-weight: 500;
}

.nav-links a:hover {
  background-color: #f1f1f1; /* Light gray or any color you prefer */

  color:#1e4174 ;
}


.login-btn button {
  font-weight: bold;
  border: 2px solid #fff;
  transition: 0.3s;
  color:#1e4174;
  background-color:#b8d7df;

}

.login-btn button:hover {
  background-color: #1e4174;
  color: white;
}
