.slide-in-login {
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;
  height: 78vh;
  margin-top:80px;
  background: white;
  z-index: 999;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  animation: slideInRight 0.8s ease forwards;
  overflow-y: hidden;
  padding: 1.5rem;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  color: black;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#slideImg {
  width: 75px;
  height: 100%;
  animation: zoom 3s linear infinite;

}

.Project-title {
  color: #423f3f;
  margin-top: 0;
}

.coloinButton {
    background: linear-gradient(135deg, #186fcc, #00d4ec);
  color: white !important;
}
