
.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgb(138, 17, 203), rgb(15, 67, 157));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(194, 17, 203), rgba(37, 117, 252, 1))
  }

  .coloinButton{
    background: linear-gradient(to right, rgb(119, 15, 163), rgb(28, 104, 236))
  }


  .noDecor{
    color: white !important;
  }

  #slideImg{
    width: 75px;
    height: 100%;
    animation: zoom 3s linear infinite;
}

.Project-title{
  color: #545151;
}

.setmargin{
  margin-bottom: -16px;
}

