<mat-sidenav-container *ngFor=" let s of roles">
    <mat-sidenav #sidebar class="sidenav" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'push' : 'side'"
    [opened]="(isHandset$ | async) === false">
          <mat-nav-list>
              <div class="user">
                <img  class="profile_img" src="{{s.Emp_Photo_Path}}" alt="Profile Photo" />
                <p>
                  <span class="name">{{s.FullName}}</span><br>
                  <span class="mail">{{s.Post_Name}}</span>
                </p>
              </div>
              <mat-divider></mat-divider>
              <div class="menu-head">
                <span>
                <h6 class="dash" ><a mat-list-item routerLink="content"><mat-icon class="design_icon">dashboard</mat-icon>Dashboard</a></h6>
                </span>
              </div>
              <mat-nav-list>

                <a mat-list-item routerLink="profile-view"><mat-icon class="design_icon">manage_accounts</mat-icon> My Profile</a>
                  <a mat-list-item routerLink="my-work"><mat-icon class="design_icon">smartphone</mat-icon> My Projects</a>
                  <a mat-list-item routerLink="my-resource"><mat-icon class="design_icon">token</mat-icon>My Resource</a>
                  <!-- <a mat-list-item routerLink="employee-profile"><mat-icon >manage_accounts</mat-icon>Add Detail</a> -->
                  <!-- <a mat-list-item ><mat-icon class="design_icon">view_timeline</mat-icon> My Leaves</a> -->
                   <!-- <a mat-list-item routerLink="leave-request"><mat-icon class="design_icon">view_timeline</mat-icon>Leave Request</a>
                  <a mat-list-item routerLink="leave-status"><mat-icon class="design_icon">view_timeline</mat-icon>Leave Status</a> -->
                  <mat-expansion-panel style="border-radius: 0%;" class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <mat-icon class="design_icon">view_timeline</mat-icon>
                        Attendance & Leave
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                      <a mat-list-item routerLink="leave-request" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Leave Request</a>
                      <a mat-list-item routerLink="leave-status" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Leave Status</a>
                      <a mat-list-item routerLink="attendance-emp" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Attendance</a>
                    </mat-nav-list>
                  </mat-expansion-panel>
                  <a mat-list-item routerLink="my-work"><mat-icon class="design_icon">token</mat-icon>My Tasks</a>
                  <a mat-list-item ><mat-icon class="design_icon">feed</mat-icon>Attendance</a>
                  <a mat-list-item ><mat-icon class="design_icon">account_balance_wallet</mat-icon>Salary</a>

                </mat-nav-list>
            </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>

              <div class="toolbar sticky-top nav ">
                <mat-toolbar style="background-image: linear-gradient(90deg, #e1edee 0%, #d0dce2 74%);" class="toolbar sticky-top nav ">
                  <mat-icon (click)="sidebar.toggle()">menu</mat-icon>

                    <div class="box ">
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item ><mat-icon>person</mat-icon></button>
                          <button mat-button (click)="logout()">
                            <mat-icon>exit_to_app</mat-icon>
                            Logout
                          </button>
                        </mat-menu>
                  </div>

              </mat-toolbar>
              </div>
              <div class="main">
                  <router-outlet></router-outlet>
              </div>

      </mat-sidenav-content>
  </mat-sidenav-container>

