<div class="col-md-offset-3">
    <div class="center-content">
        <mat-card class="example-card">
            <form [formGroup]="changepass" (ngSubmit)="changePassword()">
                <div class="card-container">
                    <mat-card-header>
                        <mat-card-title style="color: #1a2235; text-align: center;">Change Password</mat-card-title>
                    </mat-card-header>
                </div>
                <input type="password" id="prevent_autofill" autoComplete="off" style="visibility:hidden;" />
                <mat-card-content>
                    <mat-divider></mat-divider>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>New Password</mat-label>
                                <input type="password" autocomplete="off" formControlName="password" matInput
                                    placeholder="Write New Password" #npass>
                                    <mat-error *ngIf="!changepass.controls['password'].valid">Invalid password format</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Confirm Password</mat-label>
                                <input type="password" autocomplete="off" formControlName="confirmPassword" matInput #cpass (keyup)="matchPass(npass.value,cpass.value)">
                                <mat-error *ngIf="!changepass.controls['confirmPassword'].valid">Password mismatch</mat-error>
                                <mat-icon matSuffix style="color: red;" *ngIf="redIcon">block</mat-icon>
                                <mat-icon matSuffix style="color: green;" *ngIf="greenIcon">check_circle_outline</mat-icon>
                             </mat-form-field>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <span style="text-align: left; color: grey;">*Note- The password format must contain at least 8 characters, one number (0-9), and one special character</span>
                    </div>

                    <div class="col-md-11">
                        <mat-dialog-actions class="col-md-11">
                            <button type="submit" mat-raised-button mat-dialog-close color="warn" [disabled]="checkPassword == false">Change</button>
                          </mat-dialog-actions>
                        <!-- <button mat-raised-button color="warn" [disabled]="checkPassword == false">बदलें</button> -->

                    </div>
                </mat-card-content>
            </form>
        </mat-card>
  </div>
</div>
