<div class="container-fluid" #topOfForm>
  <!-- Employee Profile Form -->
  <mat-card class="form-card">
    <mat-card-header class="form-header">
      <div class="form-header-wrapper">
        <div class="form-header-title">
          <mat-icon class="form-header-icon">person</mat-icon>
          <h3 class="form-title">Employee Profile</h3>
        </div>
      </div>
    </mat-card-header>
    
    <mat-card-content class="form-content">
      <form
        class="mat-form"
        [formGroup]="registationForm"
        (ngSubmit)="Registration()"
      >
        <!-- Employee Details Section -->
        <div class="form-section">
          <h4 class="section-title">
            <mat-icon>person</mat-icon>
            Employee Details
          </h4>
          <div class="row">
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="inputfieldsize">
                <mat-label>Select Salutation</mat-label>
                <mat-select
                  [disabled]="isReadOnly"
                  formControlName="Salutation_E"
                >
                  <mat-option
                    *ngFor="let salutation of salutationdata"
                    [value]="salutation.Id"
                  >
                    {{ salutation.Salutation_Name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="inputfieldsize">
                <mat-label> First Name </mat-label>
                <input
                  matInput
                  formControlName="Emp_First_Name_E"
                  [readonly]="isReadOnly"
                />
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="inputfieldsize">
                <mat-label> Middle Name </mat-label>
                <input
                  matInput
                  formControlName="Emp_Middle_Name_E"
                  [readonly]="isReadOnly"
                />
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="inputfieldsize">
                <mat-label> Last Name </mat-label>
                <input
                  matInput
                  formControlName="Emp_Last_Name_E"
                  [readonly]="isReadOnly"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="inputfieldsize">
                <mat-label> Father Name </mat-label>
                <input matInput formControlName="Father_Name_E" />
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="inputfieldsize">
                <mat-label> Mother Name </mat-label>
                <input matInput formControlName="Mother_Name_E" />
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="inputfieldsize">
                <mat-label>Guardian Name</mat-label>
                <input matInput formControlName="Guardian_Name_E" required />
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="inputfieldsize">
                <mat-label> Mobile No</mat-label>
                <input
                  matInput
                  formControlName="Mobile_No"
                  [readonly]="isReadOnly"
                  required
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="inputfieldsize">
                <mat-label> Email ID</mat-label>
                <input
                  matInput
                  formControlName="Email_Id"
                  [readonly]="isReadOnly"
                  required
                />
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-label><b> DOB : </b></mat-label>
              <mat-form-field appearance="outline">
                <mat-label>Choose a date</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="DOB"
                />
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-5 ">
              <mat-label><b> Gender :</b></mat-label>
              <mat-radio-group
                aria-label="Select an option"
                matNativeControl
                formControlName="Gender_Id"
              >
                <mat-radio-button
                  *ngFor="let g of Gender"
                  [value]="g.value"
                  >{{ g.viewValue }}</mat-radio-button
                >
              </mat-radio-group>
            </div>
          </div>
        </div>

        <!-- Current Address Section -->
        <div class="form-section">
          <h4 class="section-title">
            <mat-icon>location_on</mat-icon>
            Current Address
          </h4>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="inputfieldsize">
                <mat-label>Current Address</mat-label>
                <textarea matInput formControlName="Current_Address" required>
                </textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="inputfieldsize">
                <mat-label>Select Country</mat-label>
                <mat-select
                  matNativeControl
                  formControlName="Current_Country_Id"
                  (valueChange)="onChangeCountry($event)"
                >
                  <mat-option value="" selected>Select Country</mat-option>
                  <mat-option
                    *ngFor="let country of country"
                    [value]="country.Country_id"
                  >
                    {{ country.Country_name }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline" class="inputfieldsize">
                  <mat-label>Select State</mat-label>
                  <mat-select
                    matNativeControl
                    formControlName="Current_State_Id"
                    (valueChange)="onChangeState($event)"
                  >
                    <mat-option value="" selected>Select State</mat-option>
                    <mat-option
                      *ngFor="let State of State"
                      [value]="State.State_id"
                    >
                      {{ State.State_name }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline" class="inputfieldsize">
                  <mat-label>Select District</mat-label>
                  <mat-select
                    matNativeControl
                    formControlName="Current_District_Id"
                    (valueChange)="onChangeDistrict($event)"
                  >
                    <mat-option value="" selected>Select District</mat-option>
                    <mat-option
                      *ngFor="let District of District"
                      [value]="District.Distric_id"
                    >
                      {{ District.Distric_name }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline" class="inputfieldsize">
                  <mat-label>Select Block</mat-label>
                  <mat-select
                    matNativeControl
                    formControlName="Current_Block_Id"
                  >
                    <mat-option value="" selected>Select Block</mat-option>
                    <mat-option
                      *ngFor="let Block of Block"
                      [value]="Block.Block_id"
                    >
                      {{ Block.Block_name }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="inputfieldsize">
                <mat-label>Pin Code</mat-label>
                <input matInput formControlName="Current_Pin_Code" />
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="inputfieldsize">
                <mat-label>City</mat-label>
                <input matInput formControlName="Current_City" />
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="form-section">
          <mat-checkbox (change)="onChangeUseCurrentAddressAsPermanent($event)">
            Use Current Address as Permanent Address
          </mat-checkbox>
        </div>

        <!-- Permanent Address Section -->
        <div class="form-section">
          <h4 class="section-title">
            <mat-icon>home</mat-icon>
            Permanent Address
          </h4>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="inputfieldsize">
                <mat-label>Permanent Address</mat-label>
                <textarea
                  matInput
                  formControlName="Permanent_Address"
                  required
                >
                </textarea>
              </mat-form-field>
            </div>
          </div>
            <div class="row">
              <div class="col-md-3">
                <mat-form-field appearance="outline" class="inputfieldsize">
                  <mat-label>Select Country</mat-label>
                  <mat-select
                    matNativeControl
                    formControlName="Permanent_Country_Id"
                    (valueChange)="onChangeCountry($event)"
                  >
                    <mat-option value="" selected>Select Country</mat-option>
                    <mat-option
                      *ngFor="let country of country"
                      [value]="country.Country_id"
                    >
                      {{ country.Country_name }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline" class="inputfieldsize">
                  <mat-label>Select State</mat-label>
                  <mat-select
                    matNativeControl
                    formControlName="Permanent_State_Id"
                    (valueChange)="onChangeState($event)"
                  >
                    <mat-option value="" selected>Select State</mat-option>
                    <mat-option
                      *ngFor="let State of State"
                      [value]="State.State_id"
                    >
                      {{ State.State_name }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline" class="inputfieldsize">
                  <mat-label>Select District</mat-label>
                  <mat-select
                    matNativeControl
                    formControlName="Permanent_District_Id"
                    (valueChange)="onChangeDistrict($event)"
                  >
                    <mat-option value="" selected>Select District</mat-option>
                    <mat-option
                      *ngFor="let District of District"
                      [value]="District.Distric_id"
                    >
                      {{ District.Distric_name }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline" class="inputfieldsize">
                  <mat-label>Select Block</mat-label>
                  <mat-select
                    matNativeControl
                    formControlName="Permanent_Block_Id"
                  >
                    <mat-option value="" selected>Select Block</mat-option>
                    <mat-option
                      *ngFor="let Block of Block"
                      [value]="Block.Block_id"
                    >
                      {{ Block.Block_name }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="inputfieldsize">
                <mat-label>Pin Code</mat-label>
                <input matInput formControlName="Permanent_Pin_Code" />
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="inputfieldsize">
                <mat-label>City</mat-label>
                <input matInput formControlName="Permanent_City" />
              </mat-form-field>
            </div>
          </div>
        </div>

        <!-- Uploads Section -->
        <div class="form-section">
          <h4 class="section-title">
            <mat-icon>cloud_upload</mat-icon>
            Uploads
          </h4>
          <div class="row">
            <div class="col-md-6">
              <div class="upload-section">
                <mat-label *ngIf="iseditmode">Upload your Photo :</mat-label>
                <mat-label *ngIf="!iseditmode"><strong>Image Uploaded:</strong></mat-label>
                <div class="upload-controls">
                  <input
                    type="file"
                    multiple
                    #profile
                    (change)="selectPhoto($event)"
                  />
                  <button
                    mat-raised-button
                    class="secondary"
                    (click)="uploadPhoto()"
                    type="button"
                  >
                    <mat-icon>cloud_upload</mat-icon>
                    Upload
                  </button>
                </div>
                <div class="image-preview" *ngIf="uploadedimage">
                  <img
                    [src]="uploadedimage"
                    alt="Profile Photo"
                    class="imgicon"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="upload-section">
                <mat-label *ngIf="iseditmode">Upload your Signature :</mat-label>
                <mat-label *ngIf="!iseditmode"><strong>Image uploaded:</strong></mat-label>
                <div class="upload-controls">
                  <input
                    type="file"
                    multiple
                    #profile
                    (change)="selectSignature($event)"
                  />
                  <button
                    mat-raised-button
                    class="secondary"
                    (click)="uploadSignature()"
                    type="button"
                  >
                    <mat-icon>cloud_upload</mat-icon>
                    Upload
                  </button>
                </div>
                <div class="image-preview">
                  <img
                    [src]="uploadedsignature"
                    alt="Signature"
                    class="imgicon"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Documents Section -->
        <div class="form-section">
          <h4 class="section-title">
            <mat-icon>attachment</mat-icon>
            Documents
          </h4>
          <div formArrayName="Documents_Path_emp">
            <ng-container
              *ngFor="
                let addressGroup of documentcontrol.controls;
                let i = index
              "
              [formGroupName]="i"
            >
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline" class="inputfieldsize">
                    <mat-label>Select Documents</mat-label>
                    <mat-select
                      matNativeControl
                      formControlName="Document_Id"
                    >
                      <mat-option
                        *ngFor="let Documents of documentsdata"
                        [value]="Documents.Document_Id"
                      >
                        {{ Documents.Document_Name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <div class="upload-section">
                    <input
                      type="file"
                      #profile
                      (change)="selectDocument($event)"
                    />
                    <button
                      mat-raised-button
                      class="secondary"
                      (click)="uploadDocument(i)"
                      type="button"
                    >
                      <mat-icon>cloud_upload</mat-icon>
                      Upload
                    </button>

                    <a
                      *ngIf="addressGroup.get('Document_Path')?.value"
                      [href]="addressGroup.get('Document_Path')?.value"
                      target="_blank"
                      rel="noopener noreferrer"
                      class="view-file-link"
                    >
                      <mat-icon>visibility</mat-icon>
                      View File
                    </a>

                    <div class="image-preview" *ngIf="imagesphoto[i]">
                      <img
                        [src]="imagesphoto[i]"
                        alt="Selected Image"
                        class="imgicon"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

            <div class="add-more-section">
              <button
                mat-raised-button
                class="secondary"
                type="button"
                (click)="addDocuments()"
              >
                <mat-icon>add</mat-icon>
                Add More Documents
              </button>
            </div>
          </div>
        </div>

        <div class="form-actions">
          <button mat-raised-button class="secondary" type="button">
            <mat-icon>clear</mat-icon>
            Clear
          </button>
          
          <button mat-raised-button class="primary" type="submit">
            <mat-icon>save</mat-icon>
            Submit
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
