<section id="contact" class="contact">
  <div class="container">
    <div class="section-header center-head">
      <h1 class="hover-underline">Contact Us</h1>
      <p>
        The Knowledge and Technology Resource Centre at Indira Gandhi Agriculture University is not just a physical space;
        it symbolizes a vision of progress, innovation, and collaboration.
      </p>
    </div>

    <div class="contact-row">
      <!-- Get in Touch -->
      <div class="contact-box info">
        <h3>Get in touch</h3>
        <p>Connect with us, grow with us.</p>
        <div class="info-item">
          <i class="bi bi-geo-alt"></i>
          <div>
            <h4>Location:</h4>
            <p>Indira Gandhi Krishi Vishwavidyalaya, Krishak Nagar, Raipur, Chhattisgarh 492012</p>
          </div>
        </div>
        <div class="info-item">
          <i class="bi bi-envelope"></i>
          <div>
            <h4>Email:</h4>
            <p>infoexample.com</p>
          </div>
        </div>
        <div class="info-item">
          <i class="bi bi-phone"></i>
          <div>
            <h4>Call:</h4>
            <p>+91 77124 42537</p>
          </div>
        </div>
      </div>

      <!-- Contact Form -->
      <div class="contact-box form">
        <form class="contact-form" [formGroup]="Contact_form" (ngSubmit)="onSubmit()">
          <input type="text" name="name" class="form-control" formControlName="C_Name" placeholder="Your Name" required>
          <input type="email" class="form-control" name="email" formControlName="C_Email" placeholder="Your Email" required>
          <input type="text" class="form-control" name="subject" formControlName="C_Subject" placeholder="Subject" required>
          <textarea class="form-control" name="message" rows="4" formControlName="C_Message" placeholder="Message" required></textarea>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <button type="submit">Send Message</button>
        </form>
      </div>

      <!-- Map -->
      <div class="contact-box map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14875.422796535991!2d81.705455!3d21.23757!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a28c2c4faaf35b5%3A0xa87f28f60a13aa36!2sIndira%20Gandhi%20Agricultural%20University!5e0!3m2!1sen!2sin!4v1690308833543!5m2!1sen!2sin"
          frameborder="0"
          allowfullscreen
          loading="lazy">
        </iframe>
      </div>
    </div>
  </div>
</section>
