.contact-section {
  background: linear-gradient(to bottom, #b8d7df, #1e4174);
  padding: 50px 20px;

  .container {
    max-width: 1200px;
    margin: auto;
  }

  .contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    padding: 30px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .contact-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .info-item {
      display: flex;
      align-items: flex-start;
      gap: 15px;

      i {
        font-size: 24px;
        color:#1e4174;
      }

      h4 {
        margin: 0 0 5px;
        font-weight: 600;
      }

      p {
        margin: 0;
        font-size: 14px;
        color: #555;
      }
    }

    .map-box {
      margin-top: 10px;
      iframe {
        width: 100%;
        height: 220px;
        border: 0;
        border-radius: 10px;
      }
    }
  }

  .contact-form {
    flex: 1;

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .form-row {
        display: flex;
        gap: 15px;

        @media (max-width: 576px) {
          flex-direction: column;
        }

        input {
          flex: 1;
        }
      }

      input,
      textarea {
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 14px;
        outline: none;
        transition: 0.3s;

        &:focus {
          border-color:#1e4174;
          box-shadow: 0 0 0 2px rgba(0, 120, 215, 0.1);
        }
      }

      button {
        align-self: center;
        padding: 10px 30px;
        border: none;
        border-radius: 25px;
        background-color: #1e4174;
        color: #fff;
        font-weight: 600;
        font-size: 15px;
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
          background-color: #0288d1;
        }
      }
    }
  }
}
