<div class="container-fluid">
  <div class="row mt-4">
    <!-- PROJECTS -->
    <div class="col-xl-3 col-lg-6 mb-4 links">
      <a [routerLink]="['/','admin','admindashboard','add-project']" class="text-decoration-none">
        <div class="card text-white bg-primary">
          <div class="card-statistic-3 p-4 text-center">
            <div class="mb-2">
              <h6 class="card-title fs-5 mb-0">PROJECTS</h6>
            </div>
            <div>
              <h6 class="card-title fs-5 mb-0">{{ projectCountValue }}</h6>
            </div>
          </div>
        </div>
      </a>
    </div>

    <!-- PENDING WORKS -->
    <div class="col-xl-3 col-lg-6 mb-4 links">
      <a [routerLink]="['/','admin','admindashboard','work-allotment']" class="text-decoration-none">
        <div class="card text-white bg-dark">
          <div class="card-statistic-3 p-4 text-center">
            <div class="mb-2">
              <h6 class="card-title fs-5 mb-0">PENDING WORKS</h6>
            </div>
            <div>
              <h6 class="card-title fs-5 mb-0">{{ workCountValue }}</h6>
            </div>
          </div>
        </div>
      </a>
    </div>

    <!-- EMPLOYEES -->
    <div class="col-xl-3 col-lg-6 mb-4 links">
      <a [routerLink]="['/','admin','admindashboard','add-employee']" class="text-decoration-none">
        <div class="card text-white bg-success">
          <div class="card-statistic-3 p-4 text-center">

            <div class="mb-2">
              <h6 class="card-title fs-5 mb-0">EMPLOYEES</h6>
            </div>
            <div>
              <h6 class="card-title fs-5 mb-0">{{ empCountValue }}</h6>
            </div>
          </div>
        </div>
      </a>
    </div>

    <!-- LEAVES -->
    <div class="col-xl-3 col-lg-6 mb-4 links">
      <a [routerLink]="['/','admin','admindashboard','add-leave']" class="text-decoration-none">
        <div class="card text-white bg-danger">
          <div class="card-statistic-3 p-4 text-center">

            <div class="mb-2">
              <h6 class="card-title fs-5 mb-0">LEAVES</h6>
            </div>
            <div>
              <h6 class="card-title fs-5 mb-0">76</h6>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row mb-4">
    <mat-card *ngIf="currentRow" class="rotating-card mat-elevation-z4">
      <mat-card-header>
        <mat-card-title class="title">Work Assignment</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <!-- Card Header - First Row -->
        <div class="card-header-row">
          <h3>Employee Work Details</h3>
        </div>

        <!-- Titles Row - Second Row -->
        <div class="titles-row">
          <span class="field-title">Employee Name</span>
          <span class="field-title">Project</span>
          <span class="field-title">Module</span>
          <span class="field-title">Work</span>
          <span class="field-title">Start Date</span>
          <span class="field-title">End Date</span>
          <span class="field-title">Status</span>
          <span class="field-title">Approval : {{ currentRow.approval }}</span>
        </div>

        <!-- Info Row - Third Row -->
        <div class="info-values-row">
          <span class="field-value">{{ currentRow.Emp_First_Name_E }}</span>
          <span class="field-value">{{ currentRow.Project_name }}</span>
          <span class="field-value">{{ currentRow.module_name }}</span>
          <span class="field-value">{{ currentRow.Work_name }}</span>
          <span class="field-value">{{ currentRow.Start_date | date }}</span>
          <span class="field-value">{{ currentRow.End_date | date }}</span>
          <span class="field-value" [ngClass]="statusColor(currentRow.is_Work_complete)">{{ currentRow.is_Work_complete
            }}</span>
          <!-- <span class="field-value" *ngIf="canShowApprovalActions(); else showStatus"> -->
          <span class="field-value">
            <button mat-button color="primary" (click)="updateApproval('approved')" [disabled]="aprlEdit">Approve</button>
            <button mat-button color="warn" (click)="updateApproval('rejected')" [disabled]="aprlEdit">Reject</button>
            <!-- <button mat-stroked-button (click)="updateApproval('pending')">Pending</button> -->
          </span>

          <!-- <ng-template #showStatus>
            <span class="field-value" [ngClass]="approvalColor(currentRow.approval)">
              {{ currentRow.approval }}
            </span>
          </ng-template> -->
          <!-- <span class="field-value" [ngClass]="approvalColor(currentRow.approval)">{{ currentRow.approval }}</span> -->
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>