<!-- Template File: relieving-dialog.component.html -->

<h2 mat-dialog-title class="dialog-title">Relieving Employees</h2>

<mat-dialog-content *ngIf="data?.length; else noData">
  <div class="employee-list">
    <mat-card *ngFor="let emp of data" class="employee-card">
      <mat-card-content>
        <div class="employee-details">
          <div class="employee-name">
            {{ emp.Emp_First_Name_E }}
            <ng-container *ngIf="emp.Emp_Middle_Name_E"> {{ emp.Emp_Middle_Name_E }}</ng-container>
            {{ emp.Emp_Last_Name_E }}
          </div>
          <div class="employee-post">{{ emp.Post_name }}</div>
          
          <div class="info-grid">
            <span class="project-name">{{ emp.Project_name }}</span>
            <span class="financial-year">{{ emp.Financial_name }}</span>
            <span class="ref-info">PI: {{ emp.PI_ref_no }}</span>
            <span class="ref-info">WO: {{ emp.Work_order_ref_no }}</span>
          </div>
          
          <div class="relieving-date">{{ emp.Reliving_date | date: 'dd/MM/yyyy' }}</div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</mat-dialog-content>

<ng-template #noData>
  <mat-dialog-content class="no-data">
    <div class="no-data-message">
      <mat-icon>info_outline</mat-icon>
      <p>No employees relieving in 15 days.</p>
    </div>
  </mat-dialog-content>
</ng-template>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="primary">Close</button>
</mat-dialog-actions>